<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="I'm an 18 year old student from Nieuw-Vennep in The Netherlands."/>
<title>{{ page.title }} &laquo; Arda&#039;s Blog &laquo; Ari&#235;n Holthuizen</title>
<link rel="openid2.provider" href="https://www.google.com/accounts/o8/ud?source=profiles" /> 
<link rel="openid2.local_id" href="https://profiles.google.com/104243603734759103578/" /> 
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
</head>
<body>
<div id="container"> 
    <div id="wrapper">
        <div id="header"><h1><a rel="me" href="/">Arda's Blog</a></h1></div>
        <div id="navigation">
            <div id="navcont">
                <h3 class="nav">Navigation</h3>
                <ul>
                    <li><a href="/about/">About Me</a></li>
                    <li><a href="/adsweep/">AdSweep</a></li>
                    <li><a href="/donate/">Donate</a></li>
                </ul>
                <h3 class="nav">Also me</h3>
                <ul>
                    <li><a href="http://linkedin.com/in/ardaxi">LinkedIn</a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="content">
            {{ content }}
        </div>
        <div id="footer">
            <p>
                &#169; 2013 Ari&#235;n Holthuizen. All rights reserved.<br />
                <a href="/privacy-policy/">Privacy Policy</a>
            </p>
        </div>
    </div>
</div>
<script type="text/javascript">
var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-4645906-7"]);_gaq.push(["_trackPageview"]);(function(){var e=document.createElement("script");e.type="text/javascript";e.async=true;e.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})()
</script>
</body>
</html>